.formAndButtonBox{
    box-sizing: border-box;
    margin:auto;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 450px;
    justify-content: space-between;
}