.eventsListPage{
    display: flex;
    flex-direction: column;
    margin:0;
    justify-content: center;
}
.board{
    width: 1232px;
    height: 880px;
    margin:auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.eventsListTextBlock{
    padding-left:16px;
    width:100%;
    height:64px;
    font-size:22px;
    box-sizing: border-box;
    margin:0;
    display:flex;
    align-items: center;
    text-align : left;
    font-weight: 400;
}
.eventsListBlock{
    width: 1232px;
    height: 730px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E2E2E2;
    padding: 40px 60px;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
}
.eventBlock{
    width: 1112px;
    height: 164px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px  10px 20px 48px;
    box-sizing: border-box;
    border-radius: 8px;
}
.nameAndDescriptionListPage{
    width: 700px;
    height: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding:0;
    box-sizing: border-box;
    flex-direction: column;
}
.dataAndPlace{
    width: 260px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.dataBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:12px 20px 12px 20px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
}
.placeBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:12px 20px 12px 20px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;

}
.eventName{
    width: 354px;
    height: 48px;
    font-size: 22px;
    margin:0;
}
.eventDescription {
    width: 700px;
    display: -webkit-box;
    -webkit-line-clamp: 3;     /* Количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.dropDownMenu{
    display: flex;
    flex-direction: column;
    justify-items: left;
    height:100%;
}
.dropdownMenuContent {
    min-width: 160px;
    background-color: #F5F5F5;
    border-radius: 6px;
    padding: 5px;
    box-shadow:
            0px 10px 15px -3px rgba(0, 0, 0, 0.1),
            0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    animation: fadeIn 0.2s ease;
}

.dropdownMenuItem {
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.dropdownMenuItem:hover {
    background-color: white;
}

.dropdownMenuArrow {
    fill: #F5F5F5;
}
.dropDownMenuButton{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.dropDownMenuButton:hover {
    border-color: rgba(0, 0, 0, 0.3);
}
.dropDownMenuButton:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.addEventButton{
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 40px;
    right: 56px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid transparent;
    border-radius: 40px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addEventButton:hover {
    border-color: #AFAFAF;
    background-color: #AFAFAF;
}