.button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;

}

.button:hover {
    border-color: #000000;
}