.editBlock{
    width: 1232px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border:#E2E2E2 1px solid;
    border-radius: 15px;
    box-shadow: 2px 2px 8px #E2E2E2;
    padding: 40px 60px;
    box-sizing: border-box;
}
.nameAndTimeAndLocation{
    width: 450px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:column;
    box-sizing: border-box;
}
.editPageInput{
    width: 450px;
    height: 56px;
    font-size: 24px;
    box-sizing: border-box;
    padding : 0 0 0 14px;
}
.editPageTextArea{
    width: 450px;
    height: 534px;
    font-size: 22px;
    box-sizing: border-box;
    resize: none;
    padding: 14px 16px;
}
.description{
    width: 450px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:column;
    box-sizing: border-box;
}
.timeAndPlace{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    height:150px;
    width: 100%;
    justify-content: space-between;
}