.editBlock{
    width: 1232px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border:#E2E2E2 1px solid;
    border-radius: 15px;
    box-shadow: 2px 2px 8px #E2E2E2;
    padding: 40px 60px;
    box-sizing: border-box;
}
.nameAndTimeAndLocation{
    width: 450px;
    height: 100%;
    display: flex;
    gap:20px;
    align-items:center;
    flex-direction:column;
    box-sizing: border-box;
}
.description{
    width: 450px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:column;
    box-sizing: border-box;
}
.timeAndPlace{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    gap:20px;
    width: 100%;
    justify-content: space-between;
}