.editBlock{
    width: 1232px;
    height: 730px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E2E2E2;
    padding: 40px 60px;
    box-sizing: border-box;
}
.nameAndDescription{
    width: 450px;
    height: 649px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:column;
    box-sizing: border-box;
}
.editPageInput{
    width: 450px;
    height: 56px;
    font-size: 24px;
    box-sizing: border-box;
    padding : 0 0 0 14px;
}
.editPageTextArea{
    width: 450px;
    height: 534px;
    font-size: 22px;
    box-sizing: border-box;
    resize: none;
    padding: 14px 16px;
}
.timeAndPlace{
    width: 450px;
    height: 649px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:column;
    box-sizing: border-box;
}