.header{
    height:64px;
    margin:0;
    width: 100%;
    display:flex;
    justify-content: center;
    border-bottom: 1px solid;
    border-bottom-color: #E2E2E2;
    background-color: white;
}
.headerElementsBlock{
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;
    width: 1440px;
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.headerElements{
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}