.editEventPage {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

.board {
    width: 100%;
    max-width: 1040px;
    padding: 24px 16px 60px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.buttonsBlock {
    width: 1232px;
    height: 96px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
}

