.eventPage{
    display: flex;
    flex-direction: column;
    margin:0;
    justify-content: center;
}
.board{
    width: 1232px;
    height: auto;
    margin:auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.eventNameBox{
    display:flex;
    height: auto;
    margin: auto;
    align-items: center;
    text-align : center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.editBlock{
    width: 1232px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border:#E2E2E2 1px solid;
    border-radius: 15px;
    box-shadow: 2px 2px 8px #E2E2E2;
    padding: 40px 60px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.description{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:column;
    box-sizing: border-box;
}
.timeAndPlace{
    display:flex;
    width:250px;
    flex-direction: column;
    box-sizing: border-box;
    height:150px;
    justify-content: space-between;
}
.textFieldWithIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loading{
    width: 1232px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border:#E2E2E2 1px solid;
    border-radius: 15px;
    box-shadow: 2px 2px 8px #E2E2E2;
    padding: 40px 60px;
    box-sizing: border-box;
    margin-top: 70px;
}