.eventPage{
    display: flex;
    flex-direction: column;
    margin:0;
    justify-content: center;
}
.board{
    width: 1232px;
    height: auto;
    margin:auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.eventNameBox{
    display:flex;
    height:64px;
    margin: auto;
    align-items: center;
    text-align : center;
}
.eventTextBlock{
    padding:0px;
    height:64px;
    font-size:30px;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    text-align : center;
    font-weight: 400;
}
.eventBlock{
    display:flex;
    flex-direction: column;
}
.eventDescriptionBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    width: fit-content;
    min-width: min-content;
}
.eventDescription{
    height:auto;
    margin: auto;
    padding:0;
    max-width: 1200px;
    display:flex;
    align-items: center;

    font-weight: 400;
    white-space: pre-line;
}
.dataAndPlaceBlock{
    display:flex;
    justify-content: space-around;
}
.dataBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:12px 20px 12px 20px;
    box-sizing: border-box;
    width: 300px;
    height: 50px;
}
.data{

}
.placeBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:12px 20px 12px 20px;
    width: 300px;
    height: 50px;
    box-sizing: border-box;
}
.place{

}

.editBlock{
    width: 1232px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border:#E2E2E2 1px solid;
    border-radius: 15px;
    box-shadow: 2px 2px 8px #E2E2E2;
    padding: 40px 60px;
    box-sizing: border-box;
}


.description{
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:column;
    box-sizing: border-box;
}
.timeAndPlace{
    display:flex;
    width:250px;
    flex-direction: column;
    box-sizing: border-box;
    height:150px;
    justify-content: space-between;
}
.textFieldWithIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}