.textArea {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 14px 16px;
    font-size: 15px;
    line-height: 1;
    color: #48454e;
    background-color: white;
    border: 1px solid;
    resize: none;
    box-sizing: border-box;
    width: 200px;
    height: 35px;

}

.textArea:focus {
    box-shadow: 2px 2px 2px 2px #48454e;
}

.textArea::selection {
    color:  #48454e;
}